body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(#bf5ef7 , #00f2fe);
  }
  
  #noButton {
    position: absolute;
    margin-left: 150px;
    transition: 0.5s;
    margin-top: 30px;
  }
  
  #yesButton {
    position: absolute;
    margin-right: 150px;
    margin-top: 30px;
  }
  
  .header_text {
    font-family: "Nunito";
    font-size: 50px;
    font-weight: bold;
  
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #023047;
  }

  .h2{
    font-family: "Nunito";
    font-size: 30px;
    font-weight: bold;
  
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #023047;
  }
  
  .text {
    font-family: "Nunito";
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
  }
  
  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
  }
  
  .btn {
    background-color: #023047;
    color: white;
    font-weight: 600;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    transition: background-color 0.3s ease;
    box-shadow: 0 3px 3px black;
  }
  
  .btn:hover {
    background-color: #ffffff;
    color: #017cff;
  }
  
  .gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  /* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  /* The actual popup (appears on top) */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }